/* Custom CSS Settings
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}
[[setting:customcss]]
